# global
#     daemon
#     maxconn 4096

# defaults
#     mode tcp
#     timeout connect 5s
#     timeout client 30s
#     timeout server 30s

# frontend auth_front
#     bind *:4004
#     default_backend auth_back

# backend auth_back
#     balance roundrobin
#     server s0 auth-service:4004 check
