# App
TRIP_SERVICE_HOST=0.0.0.0
TRIP_SERVICE_PORT=4002

RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# Database Config
TRIP_DATABASE_URL=postgresql://postgres:postgres@trip-db:5432/trip?schema=public
